In [2]:
import numpy as np
import pandas as pd

In [ ]:
dict1 ={
    "name":["Yash","Vivek","Srinath","Surabhi"],
    "marks":[93,90,88,100],
    "city" :['Mumbai',"Pune","Banglore","Thane"]
}

In [ ]:
df = pd.DataFrame(dict1);

In [ ]:
df.to_csv('friends.csv',index=False)

In [ ]:
frnd = pd.read_csv('friends.csv')
print(frnd)

In [ ]:
# df.head(2)
# df.tail(2)
df.describe()

In [ ]:
frnd['marks']

In [4]:
series =pd.Series(np.random.rand(10))
type(series)

pandas.core.series.Series

In [3]:
newdf = pd.DataFrame(np.random.rand(30,5),index=np.arange(30))
newdf.describe()

               0          1          2          3          4
count  30.000000  30.000000  30.000000  30.000000  30.000000
mean    0.514828   0.482936   0.461524   0.474017   0.490792
std     0.234157   0.263159   0.286106   0.287457   0.289254
min     0.015402   0.040006   0.018808   0.000810   0.033145
25%     0.392258   0.257229   0.205006   0.270275   0.275821
50%     0.599506   0.480956   0.409650   0.487855   0.472077
75%     0.636885   0.663670   0.704796   0.696318   0.730195
max     0.950919   0.955329   0.973366   0.948588   0.996259

In [5]:
newdf.T 
# get transpose

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,0.517694,0.877506,0.637199,0.388087,0.015402,0.404770,0.950919,0.635942,0.599428,0.605278,...,0.514263,0.936662,0.653871,0.493422,0.605264,0.610755,0.278425,0.607824,0.455411,0.663947
1,0.221432,0.860754,0.948033,0.040006,0.820485,0.401042,0.327625,0.129642,0.955329,0.842489,...,0.669782,0.517579,0.453320,0.218470,0.540518,0.623342,0.146603,0.771751,0.418541,0.294276
2,0.395144,0.397635,0.631023,0.579592,0.354821,0.018808,0.432397,0.133958,0.973366,0.192519,...,0.294745,0.179825,0.455552,0.904368,0.264778,0.381777,0.436372,0.712519,0.770641,0.141766
3,0.311437,0.486176,0.764495,0.711643,0.416673,0.814257,0.101774,0.480423,0.493142,0.740126,...,0.939016,0.561950,0.691536,0.489534,0.428837,0.000810,0.936742,0.083680,0.638550,0.948588
4,0.446881,0.528980,0.033145,0.967412,0.177404,0.560516,0.622000,0.485061,0.135937,0.454922,...,0.264160,0.328984,0.439332,0.358875,0.786953,0.710909,0.157678,0.075397,0.568585,0.736624

In [6]:
newdf.sort_index(axis=1,ascending=False).head()

          4         3         2         1         0
0  0.446881  0.311437  0.395144  0.221432  0.517694
1  0.528980  0.486176  0.397635  0.860754  0.877506
2  0.033145  0.764495  0.631023  0.948033  0.637199
3  0.967412  0.711643  0.579592  0.040006  0.388087
4  0.177404  0.416673  0.354821  0.820485  0.015402

In [ ]:
#make a copy
newdf2=newdf.copy()
newdf2.columns = list("ABCDE")
print(newdf2.loc[0,'A'])

In [ ]:
#make a column and drop column
newdf2.loc[0,0]=345
newdf2
newdf2.drop(0,axis=1)#drops column

In [ ]:
newdf2.loc[[2,5],['C','D']] #get a view
newdf2.loc[25:, 'A':'C']

In [51]:
newdf2=newdf2.drop(0,axis=1)

In [61]:
newdf2.loc[(newdf2['A']>0.7)&(newdf2['C']<0.5)]
#What is iloc:It doesnt care about indexes and just checks location
newdf2.iloc[7,3]=None
newdf2.dropna(inplace=True)
newdf2

           A         B         C         D         E
0   0.459751  0.621487  0.497949  0.954857  0.021875
1   0.449394  0.895651  0.721032  0.972455  0.293017
2   0.801220  0.322201  0.230770  0.692366  0.681255
3   0.037851  0.024059  0.027055  0.921085  0.853738
4   0.259068  0.670677  0.063959  0.663498  0.273935
5   0.410838  0.046395  0.805834  0.322818  0.752519
6   0.586257  0.002218  0.740087  0.309379  0.686374
9   0.706493  0.626470  0.521677  0.942324  0.261628
10  0.502749  0.396393  0.195659  0.969117  0.497515
11  0.318131  0.510384  0.334130  0.139036  0.999145
12  0.748047  0.365506  0.061423  0.626311  0.394556
13  0.876086  0.544225  0.469537  0.678278  0.626993
14  0.060309  0.230361  0.671388  0.025854  0.274325
15  0.695580  0.457584  0.394383  0.987792  0.369179
16  0.971338  0.238197  0.205648  0.553590  0.117509
17  0.405542  0.059682  0.485849  0.462160  0.907241
18  0.785717  0.505042  0.913764  0.257323  0.105383
19  0.188486  0.326650  0.947911  0.015038  0.793277
20  0.765867  0.655590  0.334206  0.968166  0.103353
21  0.007214  0.500820  0.139578  0.671557  0.788932
22  0.765856  0.670165  0.509003  0.811897  0.630991
23  0.204550  0.509504  0.620044  0.147835  0.636704
24  0.103410  0.872135  0.692091  0.435968  0.701319
25  0.359031  0.429037  0.891239  0.950789  0.694980
26  0.134905  0.976873  0.152720  0.008597  0.293539
27  0.866093  0.871541  0.958180  0.597285  0.510432
28  0.515670  0.016763  0.009202  0.178360  0.793849
29  0.727759  0.100900  0.530682  0.883784  0.896584

In [65]:
newdf2.iloc[1,4]=newdf2.iloc[5,2]
# newdf2.drop_duplicates